
.banner{
  width:100%;
  position: relative;

  video{
    width: 100%;
    min-height: 850px;
    height: 850px;
    object-fit: fill
  }
  
  .nav{
    top:0;
    min-height: 96px;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    &_con{
      width: 1440px;
      min-height:96px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      &_logo{
        width:141px;
        height:50px;
        float: left;
        margin-top: 23px;
        margin-right: 620px;
        img{
          width: 100%;
        }
      }
      &_font{
        float: left;
        color:#fff;
        min-width: 505px;
        height: 96px;
        display: flex;
        flex-direction: row;
        line-height: 96px;
        li{
          flex: 1;
          cursor: pointer;
          float: left;
          height: 100%;
          font-size: 14px;
          text-align: center;
          position: relative;
          &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            opacity: 0;
            bottom: 16px;
            background: linear-gradient(270deg, #0587FF 0%, #00F1FF 100%);  
            transition: 0.2s ease-in-out
          }
          &:hover{
            &::before{
              opacity: 1;
            }
          }
        }
      }
      &_btn{
        min-width: 140px;
        height: 40px;
        background: linear-gradient(270deg, #0587FF 0%, #00F3FF 100%);
        border-radius: 4px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  .font{
    position: absolute;
    width: 100%;
    top:296px;
    color: #fff;
    &_box{
      width:1440px;
      margin: 0 auto;
    }
    h4{
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    h2{
      font-size: 48px;
      font-weight: 600;
    }
    .btn{
      margin-top: 75px;
      a{
        width: 160px;
        min-height: 42px;
        border-radius: 3px;
        display: inline-block;
        line-height: 42px;
        text-align: center;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
      }
      &_free{
        margin-right: 32px;
        background: linear-gradient(270deg, #0587FF 0%, #00F3FF 100%);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .a{
    height:1440px;
    width: 100%;
    background-color: rebeccapurple;
  }
}

.navDown{
  min-width: 250px;
  ul{
    border: none;
    border-radius: 4px;  
    box-shadow: 0 0 0 0;
    background: rgba(71, 76, 136, 0.6);
    li{
      height: 70px;
      cursor: pointer;
      text-align: center;
      line-height: 70px;
      color:#fff !important;
      font-size: 14px !important;
      padding:0px 0px !important;
      &:hover{
        background: rgba(179, 208, 255, 0.3) !important;
      }
    }
  }
}

.scrollBox{

  &_content{
    background: url('/image/scroll-bg.png');
    height: 1000px;
    color:#fff;
    &_wrap{
      width:1440px;
      margin: 0 auto;
    }
    &_header{
      width: 100%;
      display: flex;
      text-align: center;
      padding-bottom: 85px;
      h3{
        font-weight: 400;
        font-size: 34px;
        padding-top: 10px;
        text-align: center;
        width: 100%;
        background-image: url('/image/PILOT.png');
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size:700px 50px;
        margin:0 auto;
        margin-top: 180px;
        h4{
          width: 88px;
          height:4px;
          background: linear-gradient(270deg, #0587FF 0%, #00F1FF 100%); 
          margin:10px auto;
        }
      }
    }
    &_main{
      width: 100%;
      display: flex;
      margin: 0 auto;
      &_left{
        padding-top: 80px;
        width: 500px;
        &_title{
          font-size: 24px;
          color: #FFFFFF;
          font-weight: 500;
          padding-bottom: 20px;
        }
        &_line{
          width: 160px;
          height: 3px;
          background: linear-gradient(270deg, rgba(20, 27, 71, 0) 0%, #00BFFF 100%);
        }
        p{
          padding-top: 30px;
        };
      }
      &_right{
        padding-left: 370px;
        img{
        width: 460px;
        height:460px;
        }
      }
    }
  }
  
}

.footer{
  width: 100%;
  padding-top: 70px;
  &_wrap{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    &_box{
      display: flex;
      padding-bottom: 40px;
    }
    &_logo{
      width: 100%;
      padding-bottom: 20px;
      img{
        width:150px;
        height:70px;
      }
    }
    &_left{
      width:27%;
      font-size: 12px;
      color: #475480;
      line-height: 24px;
    }
    &_right{
      margin-left:12%;
      width:61%;
      display: flex;
      flex-direction: row;
      &_title{
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #475480;
        padding-bottom: 14px;
      }
      ul{
        flex:1;
        li{
          font-size: 12px;
          font-weight: 400;
          color: #475480;
          padding-bottom: 10px;
          cursor: pointer;
        }
      }
      &_concern{
        padding-top:40px ;
        h2{
          font-size: 16px;
          font-weight: 500;
          color: #475480;
          padding-bottom: 10px;
        }
        &_img{
          width:80px;
          height:80px;
          border:1px solid ;
        }
      }
    }
    &_bottomLine{
      width: 100%;
      height: 2px;
      background: #E5EAF6;
    }
    &_copyright{
      height:65px;
      line-height: 65px;
      width: 100%;
      text-align: center;
      font-size: 10px;
      font-weight: 400;
      color: #6A7498;
    }
  }

}

