html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  img {
    pointer-events: none;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:active,
*:focus {
  outline: none;
}

img {
  display: block;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

i,
u,
b {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  color: #fff;
}

// 进度条样式
// ::-webkit-scrollbar {
//   width: vm(5);
//   height: vm(5);
// }

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // width: vm(5);
  background-color: #a1a7aa;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
